<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TN_CSDLPT.Properties.Settings.TN_CSDLPTConnectionString"
            connectionString="Data Source=DESKTOP-Q4P9RAB\SERVER1;Initial Catalog=TN_CSDLPT;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="TN_CSDLPT.Properties.Settings.TN_CSDLPT_Dataset" connectionString="Data Source=DESKTOP-N543RFP\SQLSERVER_1;Initial Catalog=TN_CSDLPT;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="TN_CSDLPT.Properties.Settings.TN_CSDLPTConnectionString1"
            connectionString="Data Source=DESKTOP-84EDD9G\SQL2019_CEN;Initial Catalog=TN_CSDLPT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>